body{
    margin: 0;
    height: 100vh;
}

header{
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
}

p {
    margin: 0;
    font-size: 1rem;
}

#recipe-form-area{
    max-width: 600px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 10px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    margin: 0 10px;
}

#recipe-form-title {
    text-align: center;
}

#ingredient-settings {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    column-gap: 5px;
    row-gap: 5px;
}

#recipe-ingredient-text-box {
    width: 300px;
}

#amount {
    width: 100px;
    text-align: end;
}

#unit {
    width: 50px;
}

#recipe-ingredient-add-button {
    font-size: 20px;
    background-color: green;
    color: white;
    transition: opacity 0.2s;
}

#recipe-ingredient-add-button:hover {
    opacity: 0.6;
}

#recipe-card-area{
    
}